<%- include("header") -%>

		<!--Header_section-->

		<div class="">
			<div class="app-screen">
				<div class="" style="">
					<div class="owl-carousel testimonial-carousel-2">
						<!-- <div class="single-testimonial">
						<div class="slider-img-2"><img src="Home-Page-Top-1.png"></div>
					</div> -->
						<div class="single-testimonial ">
							<div class="slider-img-2"><img class="wow fadeIn" src="img/top1.png"></div>
						</div>
						<div class="single-testimonial ">
							<div class="slider-img-2"><img img class="wow fadeIn" src="img/top2.png"></div>
						</div>
						<div class="single-testimonial ">
							<div class="slider-img-2"><img src="img/top3.png"></div>
						</div>
						<div class="single-testimonial ">
							<div class="slider-img-2"><img src="img/top4.png"></div>
						</div>
						<div class="single-testimonial ">
							<div class="slider-img-2"><img src="img/top5.png"></div>
						</div>
						<div class="single-testimonial ">
							<div class="slider-img-2"><img src="img/top6.png"></div>
						</div>

					</div>
				</div>
			</div>
		</div>
		<br><br><br>
	</section>

	<!--About us-->
	<section id="about_us">
		<div class="container">
			<h2>About Us</h2>
			<div class="service_area">
				<center>
					<p style="font-size: 1.3vw; word-spacing: 1vw;">Growing demand of Self Adhesive Stickers and their fast growth encouraged us to enter in barcode sticker manufacturing industries. Our prime focus is Quality and customer satisfaction .
						Therefore , we as a barcode sticker manufacturer offer a wide range of superb barcode stickers, Barcode Printers, Thermal Transfer Ribbon. Founded with an aim to offer the superior quality products and services, we leave no stone unturned
						towards assuring the same. We have earned a respectable name for ourselves as a barcode sticker Manufacturer. Further, we make full efforts to maintain a large inventory for our products so that we are able to serve the requirements of
						our clients at any given frame of time.</p>
				</center>
				<br>
				<center>
					<p style="font-size: 1.3vw; word-spacing: 1vw;">We Are Backed With The Modern Infrastructural Setup For Manufacturing Our Offered Range Of Products. We Have Hired A Team Of Highly Skilled Professionals, Who Are Carefully Appointed By
						Keeping In Mind Their Knowledge In Their Respective Domains. Owing To The Better Quality Of Our Products And Customized Range, We Have Been Able To Earn High-Level Client Satisfaction. Our Expertise Conducting Various Research &
						Development Activities Assists Us In Further Increase Our Technical Excellence. Moreover, We Are Backed By A Wide Connected Network For Delivering The Offered Products Safely At Clients End.</p><br>
				</center>
				<center><br>
					<h2 style="font-size: 1.9vw;">Why Us?</h2>
				</center>
				<center>
					<p style="font-size: 1.3vw; word-spacing: 1vw;">By Providing Our Customers With Unmatched Quality Barcode Labels And Printers, We Always Believe In Making A Long-Term Relationship With Our Respected Customers. Our Wide Distribution Network
						Helped Us In Dispatching The Offered Products At The Patrons End Within The Committed Frame Of Time. We Offer Our Customers Different Options Of Payment Such As Cash, Online, DD And Credit Card.</p>
				</center>
			</div>
		</div>
	</section>
	<!--Service-->
	<section id="service">
		<div class="container">
			<h2>Services</h2>
			<div class="service_area">
				<div class="row">
					<div class="col-lg-4">
						<div class="service_block">
							<div class="service_icon delay-03s animated wow  zoomIn"> <span><i class="fa-book"></i></span> </div>
							<h3 class="animated fadeInUp wow">Well Documented</h3>
							<p class="animated fadeInDown wow">Proin iaculis purus consequat sem cure digni. Donec porttitora entum suscipit aenean rhoncus posuere odio in tincidunt.</p>
						</div>
					</div>
					<div class="col-lg-4">
						<div class="service_block">
							<div class="service_icon icon2  delay-03s animated wow zoomIn"> <span><i class="fa-comments"></i></span> </div>
							<h3 class="animated fadeInUp wow">Friendly Support</h3>
							<p class="animated fadeInDown wow">Proin iaculis purus consequat sem cure digni. Donec porttitora entum suscipit aenean rhoncus posuere odio in tincidunt.</p>
						</div>
					</div>
					<div class="col-lg-4">
						<div class="service_block">
							<div class="service_icon icon3  delay-03s animated wow zoomIn"> <span><i class="fa-rocket"></i></span> </div>
							<h3 class="animated fadeInUp wow">Launch Ready</h3>
							<p class="animated fadeInDown wow">Proin iaculis purus consequat sem cure digni. Donec porttitora entum suscipit aenean rhoncus posuere odio in tincidunt.</p>
						</div>
					</div>
				</div>
				<div class="row pt-20">
					<div class="col-lg-4">
						<div class="service_block">
							<div class="service_icon icon4 delay-03s animated wow  zoomIn"> <span><i class="fa-compress"></i></span> </div>
							<h3 class="animated fadeInUp wow">Fully Responsive</h3>
							<p class="animated fadeInDown wow">Proin iaculis purus consequat sem cure digni. Donec porttitora entum suscipit aenean rhoncus posuere odio in tincidunt.</p>
						</div>
					</div>
					<div class="col-lg-4">
						<div class="service_block">
							<div class="service_icon icon5  delay-03s animated wow zoomIn"> <span><i class="fa-eye"></i></span> </div>
							<h3 class="animated fadeInUp wow">Retina Ready</h3>
							<p class="animated fadeInDown wow">Proin iaculis purus consequat sem cure digni. Donec porttitora entum suscipit aenean rhoncus posuere odio in tincidunt.</p>
						</div>
					</div>
					<div class="col-lg-4">
						<div class="service_block">
							<div class="service_icon icon6  delay-03s animated wow zoomIn"> <span><i class="fa-cog"></i></span> </div>
							<h3 class="animated fadeInUp wow">HTML5+CSS3</h3>
							<p class="animated fadeInDown wow">Proin iaculis purus consequat sem cure digni. Donec porttitora entum suscipit aenean rhoncus posuere odio in tincidunt.</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!--Service-->

	<section id="work_outer">
		<div class="top_cont_latest">
			<div class="container">
				<h2>Consumable Products</h2>
				<div class="tab-content wow fadeInUp">
					<div id="multivendor" class="container tab-pane active">
						<div class="">
							<div class="app-screen">
								<div class="container" style="padding-top:80px; padding-bottom:80px;">
									<div class="owl-carousel testimonial-carousel">
										<div class="single-testimonial">
											<div class="slider-img"><img src="img/1.png"></div>
										</div>
										<div class="single-testimonial ">
											<div class="slider-img"><img src="img/2.png"></div>
										</div>
										<div class="single-testimonial ">
											<div class="slider-img"><img src="img/3.png"></div>
										</div>
										<div class="single-testimonial ">
											<div class="slider-img"><img src="img/4.png"></div>
										</div>
										<div class="single-testimonial ">
											<div class="slider-img"><img src="img/5.png"></div>
										</div>
										<div class="single-testimonial ">
											<div class="slider-img"><img src="img/6.png"></div>
										</div>
										<div class="single-testimonial ">
											<div class="slider-img"><img src="img/7.png"></div>
										</div>
										<div class="single-testimonial ">
											<div class="slider-img"><img src="img/orange.png"></div>
										</div>
										<div class="single-testimonial ">
											<div class="slider-img"><img src="img/9.png"></div>
										</div>
										<div class="single-testimonial ">
											<div class="slider-img"><img src="img/10.png"></div>
										</div>
										<div class="single-testimonial ">
											<div class="slider-img"><img src="img/11.png"></div>
										</div>
										<div class="single-testimonial ">
											<div class="slider-img"><img src="img/12.png"></div>
										</div>

									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
	</section>

	<section id="work_outer_1">
		<div class="top_cont_latest">
			<div class="container">
				<h2>Hardware Products</h2>
				<div class="tab-content wow fadeInUp">
					<div id="multivendor" class="container tab-pane active">
						<div class="">
							<div class="app-screen">
								<div class="container" style="padding-top:80px; padding-bottom:80px;">
									<div class="owl-carousel testimonial-carousel-3">
										<div class="single-testimonial">
											<div class="slider-img"><img src="img/p1.png"></div>
										</div>
										<div class="single-testimonial ">
											<div class="slider-img"><img src="img/p2.png"></div>
										</div>
										<div class="single-testimonial ">
											<div class="slider-img"><img src="img/p7.png"></div>
										</div>
										<div class="single-testimonial ">
											<div class="slider-img"><img src="img/p4.png"></div>
										</div>
										<div class="single-testimonial ">
											<div class="slider-img"><img src="img/p5.png"></div>
										</div>
										<div class="single-testimonial ">
											<div class="slider-img"><img src="img/p6.png"></div>
										</div>
										<div class="single-testimonial ">
											<div class="slider-img"><img src="img/p3.png"></div>
										</div>
										<div class="single-testimonial ">
											<div class="slider-img"><img src="img/p8.png"></div>
										</div>

									</div>
								</div>
							</div>
						</div>
					</div>
				</div>


			</div>
		</div>
	</section>
	<!--main-section-end-->


	<section class="main-section" id="client_outer" style="padding-bottom:60px">
		<!--main-section client-part-start-->
		<h2>Happy Clients</h2>
		<div class="client_area ">
			<div class="client_section animated  fadeInUp wow">
				<div class="client_profile">
					<div class="client_profile_pic"><img src="img/client-pic1.jpg" alt=""></div>
					<h3>John Doe</h3>
					<span>Google Inc</span>
				</div>
				<div class="quote_section">
					<div class="quote_arrow"></div>
					<p><b><img src="img/quote_sign_left.png" alt=""></b> Proin iaculis purus consequat sem cure digni ssim donec porttitora entum suscipit rhoncus. Accusantium quam, ultricies eget id, aliquam eget nibh et. Maecen aliquam, risus at
						semper. <small><img src="img/quote_sign_right.png" alt=""></small> </p>
				</div>
				<div class="clear"></div>
			</div>
			<div class="client_section animated  fadeInDown wow">
				<div class="client_profile flt">
					<div class="client_profile_pic"><img src="img/client-pic2.jpg" alt=""></div>
					<h3>Marie Gomez</h3>
					<span>BFA Foundation</span>
				</div>
				<div class="quote_section flt">
					<div class="quote_arrow2"></div>
					<p><b><img src="img/quote_sign_left.png" alt=""></b> Proin iaculis purus consequat sem cure digni ssim donec porttitora entum suscipit rhoncus. Accusantium quam, ultricies eget id, aliquam eget nibh et. Maecen aliquam, risus at
						semper. <small><img src="img/quote_sign_right.png" alt=""></small> </p>
				</div>
				<div class="clear"></div>
			</div>
		</div>
	</section>
  <%- include("footer") -%>
